/* RESPODING Tto SMALL LAPTOPS */
/*1344px = 84em*/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Responding to tablets */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 9.6rem;
  }
}
